html {
  font-size: 10px;
}

* {
  font-size: 1em;
}

body,
input,
select,
textarea {
    font-size: 1.4rem;
    font-family: var(--font-1);
    font-weight: 350;
    line-height: 1.2;

    @media (--lg) {
        font-size: 1.6rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  font-family: var(--font-2);
  font-weight: 600;
  line-height: 1.25;
}

.heading,
.title {
  font-family: var(--font-2);
  line-height: 1.25;
}

.h1 {
  font-size: 1.2em;

  @media (--lg) {
    font-size: 2.1em;
  }
}

.h2 {
  font-size: 1.05em;

  @media (--lg) {
    font-size: 1.75em;
  }
}

.h3 {
  font-size: 0.95em;

  @media (--lg) {
    font-size: 1.5em;
  }
}

.h4 {
  font-size: 0.9em;

  @media (--lg) {
    font-size: 1.25em;
  }
}

.h5 {
  font-size: 0.85em;

  @media (--lg) {
    font-size: 1.1em;
  }
}

.h6 {
  font-size: 0.8em;

  @media (--lg) {
    font-size: 1em;
  }
}

b,
strong {
  font-weight: 600;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}

.font-1 {
  font-family: var(--font-1);
}

.font-2 {
  font-family: var(--font-2);
}

.text-lg {
  font-size: 1.8em;
  line-height: 1.1em;

  @media (--lg) {
    font-size: 2.4em;
  }
}

.text-md {
  font-size: 1.4em;
  line-height: 1.1em;
}

.desc {
  font-size: 1em;

  @media (--lg) {
    font-size: 0.9em;
  }
}

.longread {
  font-size: 1em;
}