.card-tire {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid var(--color-4);
  border-radius: 1rem;
  transition: border-color 0.2s ease, background 0.2s ease;
  min-height: 100%;

  @media (--lg) {
    padding: 2rem;
    border-radius: 2rem;
  }
}

.card-tire:hover {
  border-color: var(--color-3);
  background: rgb(0 0 0 / 2%);
}

.card-tire__img-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 0.25rem;
}

.card-tire__img {
  display: block;
  width: 80%;
  height: auto;
  object-fit: contain;
}

.card-tire .card__title {
  font-size: 1.25em;

  @media (--lg) {
    font-size: 1.25em;
  }
}

.card-tire .card__desc {
  color: var(--color-5);
}
