.heading {
  /* Стили для heading */
}

.heading-accent {
  display: block;
  width: 1.2rem;
  height: 1.25rem;
  margin-bottom: 0.75rem;
  margin-left: 0.4em;
  background-color: var(--color-3);
  transform: skewX(-45deg);
}

.heading-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} 