.footer.section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--color-2);
  color: var(--color-1);
  z-index: 1;

  @media (--lg) {
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-radius: 10rem 10rem 0 0;
  }
}

.footer > .container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;

  @media (--lg) {
    gap: 4rem;
  }
}

.footer > .container > .section__item {
  width: 100%;

  @media (--lg) {
    width: calc(50% - 2rem);
  }
}

.footer .section__item.logo-wrap {
  display: flex;
  flex-direction: column;
}

.footer .footer__logo-link {
  display: block;
  width: 9.4rem;
  height: auto;

  @media (--lg) {
    width: 14rem;
  }
}

.footer__logo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: left top;
}

.footer .section__subitem.heading-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__heading {
  font-size: 1.2em;
  font-weight: 600;
}

.footer .section__item.nav-wrap {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;

  @media (--lg) {
    flex-flow: row wrap;
    column-gap: 3rem;
    gap: 1rem;
  }
}

.footer .nav-wrap .footer__link-wrap {
  width: 100%;

  @media (--lg) {
    width: calc(35% - 1.5rem);
  }
}

.footer__link {
  font-size: 1em;
}

.footer .section__item.policy-agree-wrap {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;

  @media (--lg) {
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
  }
}

.footer .section__item.copyright-wrap {
  display: flex;
  flex-flow: column;
}

.footer__disclaimer-link {
  font-size: 0.9em;
}

.footer__copyright {
  font-size: 0.9em;
  line-height: 1.2;
}

.footer .form-callback__label {
  color: var(--color-1);
}

.footer .form-callback__required {
  color: var(--color-5);
}

.footer .form-callback__caption {
  color: var(--color-6);
}

.footer .form-callback input[type="text"],
.footer .form-callback input[type="tel"] {
  color: var(--color-1);
  border-bottom-color: var(--color-1);
}

.footer .form-callback input[type="text"]::placeholder,
.footer .form-callback input[type="tel"]::placeholder {
  color: var(--color-6);
}

.footer .form-callback input[type="text"]:focus,
.footer .form-callback input[type="tel"]:focus {
  border-bottom-color: var(--color-1);
}

.footer .form-callback__custom-checkbox {
  border-bottom-color: var(--color-1);
}

.footer .form-callback__custom-checkbox .form-callback__checkmark {
  border-color: var(--color-1);
}

.footer .form-callback__checkmark::after {
  background: var(--color-1);
}

.footer .form-callback__placeholder {
  color: var(--color-6);
}

.footer .form-callback__rules {
  color: var(--color-6);
}
