<section class="{% if data.class %}{{ data.class }}{% endif %}">
    {% for item in data.items %}
      {% if item.content %}
      <div class="section__item {% if item.class %}{{ item.class }}{% endif %}">
        {{ include(template_from_string(item.content)) }}
      </div>
      {% endif %}
    {% endfor %}
</section>