<section class="cookie-panel hidden" style="display: none;" aria-hidden="true">
  <div class="container-sm">
    <div class="section__item">
      <div class="section__subitem desc-wrap">
        <span class="desc">{{ global['cookie-panel'][lang_code].desc | raw }}</span>
      </div>
      <div class="section__subitem button-wrap">
        <button class="{{ global['cookie-panel'][lang_code].button.class }}">{{ global['cookie-panel'][lang_code].button.title }}</button>
      </div>
    </div>
  </div>
</section>