<section class="tires section">
  <div class="container">
    <div class="section__item block-wrap">
      {% if data.heading is defined %}
        <div class="section__subitem heading-wrap">
          <span class="heading-accent self-start" aria-hidden="true"></span>
          {% include 'components/heading.twig' with {'item': data.heading} %}
        </div>
      {% endif %}
      {% set tiresList = load_json('data/json/' ~ lang_code ~ '/pages/tires.json') %}
      {% if tiresList and tiresList.items is not empty %}
        <div class="section__subitem cards-tire-wrap">
          {% for slug in tiresList.items %}
            {% set tireItem = load_json('data/json/' ~ lang_code ~ '/tires/' ~ slug ~ '.json') %}
            {% if tireItem and tireItem.visible | default(false) %}
              <div class="section__inner card-tire-wrap">
                {% include 'components/card-tire.twig' with {'item': tireItem} %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
