<section class="burger-menu" id="burgerMenu" role="navigation" aria-label="{{ global.burger.aria_open[lang_code]|default('Menu') }}" aria-hidden="true">
  <div class="container">
    {% for item in items %}
      {% if item.visible is not defined or item.visible %}
      {% set nav_path = item.href | trim('/') %}
      
      {% if lang_code != config.settings.default_lang %}
        {% set nav_path = lang_code ~ '/' ~ nav_path %}
      {% endif %}
      
      {% if nav_path is not empty and not nav_path ends with '/' %}
        {% set nav_path = nav_path ~ '/' %}
      {% endif %}

      <a href="{{ url(nav_path) }}" class="burger-menu__item link">
        <span class="burger-menu__title uppercase">{{ item.title }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</section> 