{% set name = item.item.name | default(item.item.code | default('')) %}
{# Временно без перехода на страницу модели #}
{% set href = null %}

<div class="card-tire">
  <div class="card__item title-wrap">
    <span class="card__title font-2 weight-600">{{ item.item.code }}</span>
  </div>
  {% if item.item.series is defined and item.item.series %}
    <div class="card__item desc-wrap">
      <span class="card__desc">{{ item.item.series }}</span>
    </div>
  {% endif %}
  <div class="card-tire__img-wrap">
    <img src="{{ url('data/img/tires/hs51/Kumho_ECSTA HS51.png') }}" alt="" class="card-tire__img img-responsive" loading="lazy">
  </div>
</div>
